{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
 <!----- Breadcrumbs  ------>
 <div id="breadcrumbs" class="breadcrumbs mt-5">
    <div class="container">
       <div class="d-flex justify-content-between align-items-center">
          <ol>
             <li><a href="{% url 'home' %}">Home</a></li>
             <li>FAQs</li>
          </ol>
       </div>
    </div>
 </div>
<!---FAQs Section-->
<section id="faq" class="content">
    <h2 class="my-5 text-center">Frequently Asked Questions (FAQs)</h2>
  
    <div class="accordion w-75 mx-auto shadow-lg p-3 mb-5 bg-white rounded" id="accordionExample">
      <div class="card">
          <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                  <button class="btn btn-link text-black" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      How safe are our products?
                  </button>
              </h2>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                  <strong>At Fetch, the safety and well-being of your pets are our top priorities.</strong> 
                  We understand the importance of providing products that meet the highest standards of quality and safety. 
                  All of our products go through a rigorous selection process to ensure they meet industry regulations and standards.
                  If you have specific concerns or questions about any product, our knowledgeable staff is here to assist you. 
                  Feel free to reach out, and we'll be happy to provide detailed information to address any inquiries you may have.
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                  <button class="btn btn-link collapsed text-black" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      How long does a normal delivery take?
                  </button>
              </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                  <strong>At Fetch, we strive to provide a convenient and timely delivery experience for our customers.</strong> The delivery time can vary depending on factors such as your location, the selected shipping method, 
                  and the availability of the product. As a general guideline: 
                  <br>
                  <br>
                  <strong>Standard Shipping:</strong> Typically takes 5 business days from the date of order processing.<br>
                  <br>
                  <strong>Express Shipping:</strong> For those who need their items sooner, 
                  <br>
                  <br>
                  We offer express shipping options, which usually take 3 business days.<br>
                  Please note that these are general estimates, and actual delivery times may vary. 
                  You can track your order through our website or contact our customer support team for real-time 
                  updates on your delivery status.
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                  <button class="btn btn-link collapsed text-black" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    What is the return policy for products purchased from your pet store?
                  </button>
              </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                  <strong>At Fetch, we understand that sometimes products may not meet your expectations or the needs of your pets.</strong> 
                  That's why we have a customer-friendly return policy in place. Here are the key details:
                  <br>
                  <br>
                  <strong>Return Period:</strong> You can initiate a return within 14 days of receiving your order. 
                  We believe this timeframe allows you ample opportunity to assess the product and ensure it meets your satisfaction.
                  <br>
                  <br>
                  <strong>Condition of Items:</strong> To be eligible for a return, the product must be unused, in its original packaging, and in the same condition as when you received it. 
                  We want to guarantee that every pet product you purchase from us is of the highest quality.
                  <br>
                  <br>
                  <strong>Return Process:</strong> Initiating a return is easy. Simply contact our customer support here.
                  <br>
                  <br>
                  <strong>Refund or Exchange:</strong> Upon receiving and inspecting the returned item, we will process your refund or exchange promptly. 
                  Depending on your preference, we can issue a refund to your original payment method or 
                  exchange the product for another one of your choice.
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}