{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<!-- mailchimp embedded css-->
<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Hero Section -->
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="{{ MEDIA_URL }}hero-image.jpg" alt="three dogs" class="c-img">
      </div>
      <div class="carousel-item c-item">
        <img src="{{ MEDIA_URL }}hero-img.jpg" alt="man with a dog" class="c-img">
      </div>
      <div class="carousel-item c-item">
        <img src="{{ MEDIA_URL }}hero-image.jpg" alt="three dogs" class="c-img">
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>


<!-- About Us Section -->
<div class="container-fluid text-center">
    <br>
    <h1 class="about-h1">Welcome to Fetch!</h1>
    <div class="row">
        <div class="col-12 mt-3 text-center">
            <p>At Fetch, we believe that every pet deserves the best.<br>
                Step into a world where tails wag, and purrs resonate – a haven crafted exclusively for your furry companions.<br>
                Our online pet store is not just a marketplace; 
                it's a celebration of the unconditional love and joy that pets bring into our lives.</p>
                <br>
            <div class="row text-center">
                <div class="col-md-4 about-us">
                    <i class="fas fa-paw about-icon"></i>
                    <br>
                    <h3 class="about-h3">Discover Tail-Wagging <br>Treasures:</h3>
                    <p>Browse through our curated collection of premium pet products, from nutritious treats and cozy beds to stylish accessories that reflect your pet's unique personality. We handpick every item with the utmost care to ensure your pets receive nothing but the finest.
                    </p>
                </div>
                <div class="col-md-4 about-us">
                    <i class="fas fa-shopping-bag about-icon"></i>
                    <br>
                    <h3 class="about-h3">Simple, Secure, and Tailored for You:</h3>
                    <p>Experience hassle-free shopping with our user-friendly interface. Our secure checkout ensures that your pet's goodies reach you promptly. With personalized recommendations and exclusive deals, we make sure you and your pet receive the VIP treatment you deserve.
                    </p>
                </div>
                <div class="col-md-4 about-us">
                    <i class="fas fa-globe about-icon"></i>
                    <br>
                    <h3 class="about-h3">Nationwide Delivery, Worldwide Love:</h3>
                    <p>Whether you're in the heart of the city or nestled in the countryside, Fetch delivers happiness to your doorstep. We also ship worldwide, 
                        spreading the love and joy of pet companionship to every corner of the globe.
                    </p>
                </div>
            </div>
            <a href="{% url 'products' %}" class="button btn btn-black rounded-0 text-uppercase mb-4 mt-4"> Shop Now</a>
            <hr>
        </div>
    </div>
</div>
<!---Subscribe Section-->
<div class="col-12 col-md-6 mx-auto text-center">
    <div id="mc_embed_shell">
  <div id="mc_embed_signup">
      <form action="https://herokuapp.us9.list-manage.com/subscribe/post?u=63df626836927af6a0435b15c&amp;id=f4dcdec1a8&amp;f_id=00711be1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <div id="mc_embed_signup_scroll"><h2 class="text-center">Subscribe To Our Newsletter!</h2>
            <p class="text-center">Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
              <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
              <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div>
          <div id="mce-responses" class="clear foot">
              <div class="response" id="mce-error-response" style="display: none;"></div>
              <div class="response" id="mce-success-response" style="display: none;"></div>
          </div>
      <div aria-hidden="true" style="position: absolute; left: -5000px;">
          /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
          <input type="text" name="b_63df626836927af6a0435b15c_f4dcdec1a8" tabindex="-1" value="">
      </div>
          <div class="optionalParent">
              <div class="clear foot">
                  <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-black rounded-0 text-uppercase" value="Subscribe">
                  
              </div>
          </div>
      </div>
  </form>
  </div>
</div>
  
  </div>

{% endblock %}

{% block postloadjs %}
<!--Mailchimp scripts-->
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
{% endblock %}