{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!---Hero Section-->
<section class="hero-container">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black overlay-text">
                    A Man's Bestfriend!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!---About Us Section-->
<div class="container text-center">
  <H2>Welcome to Fetch!</H2>
  <br>
  <p>At Fetch, we believe that every pet deserves the best. Step into a world where tails wag, 
    and purrs resonate – a haven crafted exclusively for your furry companions. 
    Our online pet store is not just a marketplace; 
    it's a celebration of the unconditional love and joy that pets bring into our lives.</p>
  <div class="row align-items-center">
    <div class="col-md-12 col-lg-4">
      <i class="fa-solid fa-paw text-center"></i>
      <h3>Discover Tail-Wagging Treasures:</h3>
      <br>
      <p>Browse through our curated collection of premium pet products, from nutritious treats and cozy beds to stylish accessories that reflect your pet's unique personality. 
        We handpick every item with the utmost care to ensure your pets receive nothing but the finest.</p>
    </div>
    <div class="col-md-12 col-lg-4">
      <i class="fa-solid fa-bag-shopping text-center"></i>
      <h3>Simple, Secure, and Tailored for You:</h3>
      <br>
      <p>Experience hassle-free shopping with our user-friendly interface. Our secure checkout ensures that your pet's goodies reach you promptly. With personalized 
        recommendations and exclusive deals, we make sure you and your pet receive the VIP treatment you deserve.</p>
      
    </div>
    <div class="col-md-12 col-lg-4">
      <i class="fa-solid fa-globe text-center"></i>
      <h3>Nationwide Delivery, Worldwide Love:</h3>
      <br>
      <p>Whether you're in the heart of the city or nestled in the countryside, Fetch delivers happiness to your doorstep. We also ship worldwide, 
        spreading the love and joy of pet companionship to every corner of the globe.</p>
    </div>
  </div>
</div>
<!---FAQs Section-->
<section id="faq" class="py-md-5">
  <h2 class="my-5 text-center">FAQ</h2>

  <div class="accordion w-75 mx-auto" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    How safe are our products?
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <strong>At Fetch, the safety and well-being of your pets are our top priorities.</strong> 
                We understand the importance of providing products that meet the highest standards of quality and safety. 
                All of our products go through a rigorous selection process to ensure they meet industry regulations and standards.
                If you have specific concerns or questions about any product, our knowledgeable staff is here to assist you. 
                Feel free to reach out, and we'll be happy to provide detailed information to address any inquiries you may have.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How long does a normal delivery take?
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <strong>At Fetch, we strive to provide a convenient and timely delivery experience for our customers.</strong> The delivery time can vary depending on factors such as your location, the selected shipping method, 
                and the availability of the product. As a general guideline: 
                <br>
                <br>
                <strong>Standard Shipping:</strong> Typically takes 5 business days from the date of order processing.<br>
                <br>
                <strong>Express Shipping:</strong> For those who need their items sooner, 
                <br>
                <br>
                We offer express shipping options, which usually take 3 business days.<br>
                Please note that these are general estimates, and actual delivery times may vary. 
                You can track your order through our website or contact our customer support team for real-time 
                updates on your delivery status.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  What is the return policy for products purchased from your pet store?
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <strong>At Fetch, we understand that sometimes products may not meet your expectations or the needs of your pets.</strong> 
                That's why we have a customer-friendly return policy in place. Here are the key details:
                <br>
                <br>
                <strong>Return Period:</strong> You can initiate a return within 14 days of receiving your order. 
                We believe this timeframe allows you ample opportunity to assess the product and ensure it meets your satisfaction.
                <br>
                <br>
                <strong>Condition of Items:</strong> To be eligible for a return, the product must be unused, in its original packaging, and in the same condition as when you received it. 
                We want to guarantee that every pet product you purchase from us is of the highest quality.
                <br>
                <br>
                <strong>Return Process:</strong> Initiating a return is easy. Simply contact our customer support here.
                <br>
                <br>
                <strong>Refund or Exchange:</strong> Upon receiving and inspecting the returned item, we will process your refund or exchange promptly. 
                Depending on your preference, we can issue a refund to your original payment method or 
                exchange the product for another one of your choice.
            </div>
        </div>
    </div>
</div>

</section>
{% endblock %}