.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

.delivery-wrapper {
    margin-bottom: 20px;
    padding: 25px;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.navbar-profile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* wishlist section */
.wishlist-btn,
.review-btn {
    margin-right: 5px;
    padding: 8px;
}

.wishlist-btn i {
    color:red;
    
}

/*my reviews section */
.review-details-card {
	padding: 20px;
}

/* Pagination */
.page-link {
    color: var(--dark-gray);
}

.page-link:hover {
    color: var(--black);
}

.page-item.active .page-link {
    color: var(--white);
    background-color: #000;
    border-color: #000;
}