<div class="container">
    <div class="row footer-content text-center d-flex justify-content-around">
        
        <!-- About Section -->
        <div class="col-sm-3 pb-5">
            <h4 class="pb-3">Social Media</h4>
            <p><a href="https://www.facebook.com/profile.php?id=61554255966732&is_tour_dismissed=true" class="footer-links" target="_blank"> <i class="fa-brands fa-square-facebook fa-2x"></i> Facebook</a></p>
            <p><a href="https://www.instagram.com/" class="footer-links" target="_blank"> <i class="fa-brands fa-instagram fa-2x"></i> Instagram</a></p>
            <p><a href="https://www.youtube.com/" class="footer-links" target="_blank"> <i class="fa-brands fa-youtube fa-2x"></i> YouTube</a></p>
        </div>
        
        <!-- Contact Section -->
        <div class="col-sm-3 pb-5">
            <h4 class="pb-3">Contact</h4>
            <a href = "{% url 'message' %}" class="footer-links">Send A Message!</a>
            <br>
            <br>
            <a href = "{% url 'faq' %}" class="footer-links">FAQs</a>
            <br>
            <br>
            <a href = "https://www.termsfeed.com/live/c2013142-08eb-41f5-9774-c124d0505888" target="_blank" class="footer-links">Privacy Policy</a>

           
        </div>
        
        <!-- Payment Section -->
        <div class="col-sm-3 pb-5">
            <h4 class="pb-3">Payments</h4>
            <p>Payments facilitated by <br><i class="fa-brands fa-stripe fa-3x"><span class="fa-sr-only">Stripe - a Payment Processing Platform for the Internet</span></i></p>
            <p>Cards Accepted:</p>
            <i class="fa-brands fa-cc-visa fa-2x"><span class="fa-sr-only">Visa</span></i>
            <i class="fa-brands fa-cc-mastercard fa-2x"><span class="fa-sr-only">Mastercard</span></i>
            <i class="fa-brands fa-cc-amex fa-2x"><span class="fa-sr-only">Amex</span></i>
            <i class="fa-brands fa-cc-discover fa-2x"><span class="fa-sr-only">Discover</span></i>
            <i class="fa-brands fa-cc-diners-club fa-2x"><span class="fa-sr-only">Diners Club</span></i>
        </div>
    </div>
</div>