<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="all-products-link">
                All Products
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dog-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dog
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dog-link">
                <a href="{% url 'products' %}?category=chicken_turkey" class="dropdown-item">Chicken &amp; Turkey</a>
                <a href="{% url 'products' %}?category=beef" class="dropdown-item">Beef</a>
                <a href="{% url 'products' %}?category=dog_snacks" class="dropdown-item">Snacks</a>
                <a href="{% url 'products' %}?category=chicken_turkey,beef,dog_snacks" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="cat-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cat
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="cat-link">
                <a href="{% url 'products' %}?category=cat_chicken_turkey" class="dropdown-item">Chicken &amp; Turkey</a>
                <a href="{% url 'products' %}?category=beef_fish" class="dropdown-item">Fish &amp; Beef</a>
                <a href="{% url 'products' %}?category=cat_snacks" class="dropdown-item">Snacks</a>
                <a href="{% url 'products' %}?category=cat_chicken_turkey,beef_fish,cat_snacks" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=deals,special_offer" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'faq' %}">
                FAQs
            </a>
    </ul>
</div>