.review-header {
    height: fit-content;
}

#review-div h2 {
    font-size: 24px;
}

.review-container {
    border-radius: 2px;
    color: black;
}

.review-title {
    font-size: 20px;
    line-height: 0.8;
}

.review-content {
    padding: 10px;
}
/* Add Review Page */

.ib-form {
    margin-top: 40px;
    margin-bottom: 60px;
}
.ib-form-field {
    width: -webkit-fill-available;
}

.review-form {
    overflow: hidden;
    border-radius: 5px;
}

.review-form .ib-form-header p {
    font-size: 14px;
}

.review-form .ib-form-header h1 {
    font-size: 18px;
}

.review-form .ib-form-header img {
    width: 150px;
}
